name: Update data from https://orc.org
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 1"
jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - uses: actions/checkout@v6
      - run: make json
      - run: make site
      - id: date
        run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        id: create_pull_request
        with:
          title: Update data from https://orc.org on ${{ env.date }}
          body: Automated update of data from https://orc.org as of ${{ env.date }}.
          commit-message: Update data from https://orc.org on ${{ env.date }}
          branch: update-data-${{ env.date }}
          labels: automerge
      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: gh pr merge --auto --squash "${{ steps.create_pull_request.outputs.pull-request-number }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
